In [1]:
import requests
import pandas as pd
import json
from bs4 import BeautifulSoup as bs

In [2]:
WILAYA_YASSIR = ["Algiers", "Annaba", "Ain-Defla", "Ain-Temouchent", "Batna", "Biskra", "Blida", "Bordj-Bou-Arreridj", "Bouira", "Boumerdes", "Bejaia", "Chlef", "Constantine", "Djelfa", "El-Oued", "El-Tarf", "Ghardaia", "Guelma", "Jijel", "Khenchela", "Laghouat", "M%27Sila", "Mascara", "Mila", "Mostaganem", "Medea", "Oran", "Ouargla", "Oum-El-Bouaghi", "Relizane", "Saida", "Sidi-Bel-Abbes", "Skikda", "Souk-Ahras", "Setif", "Tiaret", "Tipaza", "Tizi-Ouzou", "Tlemcen", "Tebessa"]
URL = 'https://www.numbeo.com/taxi-fare/in/'

In [ ]:
r = requests.get('https://www.numbeo.com/taxi-fare/in/Constantine-Algeria')
soup = bs(r.content,"html.parser")

In [ ]:
all_wilaya = soup.find_all('a', 'likenormal')

In [ ]:
with pd.ExcelWriter('numbeo.xlsx') as writer:
    for wilaya in all_wilaya:
        
        r = requests.get(wilaya.get('href'))
        soup = bs(r.content,"html.parser")
        data = pd.read_html(str(soup.find('div','standard_margin')))[0]
        data.to_excel(writer, sheet_name=wilaya.find_all('span')[1].get_text())

In [5]:
for wilaya in WILAYA_YASSIR:
    try:
        if wilaya != 'Algiers':
            r = requests.get(URL + wilaya + '-Algeria')
        else:
            r = requests.get(URL + wilaya)
        soup = bs(r.content,"html.parser")
        data = pd.read_html(str(soup.find('div','standard_margin')))[0]
        data.to_csv(f"data/{wilaya}.csv", index=False)
    except:
        pass

In [4]:
data

,0,1,2,3,4,5,6,7,8,9
0,Distance km,Estimated Price *,Distance km,Estimated Price *,Distance km,Estimated Price *,Distance km,Estimated Price *,Distance km,Estimated Price *
1,3,500.00 DZD,13,"2,000.00 DZD",23,"3,500.00 DZD",33,"5,000.00 DZD",43,"6,500.00 DZD"
2,4,650.00 DZD,14,"2,150.00 DZD",24,"3,650.00 DZD",34,"5,150.00 DZD",44,"6,650.00 DZD"
3,5,800.00 DZD,15,"2,300.00 DZD",25,"3,800.00 DZD",35,"5,300.00 DZD",45,"6,800.00 DZD"
4,6,950.00 DZD,16,"2,450.00 DZD",26,"3,950.00 DZD",36,"5,450.00 DZD",46,"6,950.00 DZD"
5,7,"1,100.00 DZD",17,"2,600.00 DZD",27,"4,100.00 DZD",37,"5,600.00 DZD",47,"7,100.00 DZD"
6,8,"1,250.00 DZD",18,"2,750.00 DZD",28,"4,250.00 DZD",38,"5,750.00 DZD",48,"7,250.00 DZD"
7,9,"1,400.00 DZD",19,"2,900.00 DZD",29,"4,400.00 DZD",39,"5,900.00 DZD",49,"7,400.00 DZD"
8,10,"1,550.00 DZD",20,"3,050.00 DZD",30,"4,550.00 DZD",40,"6,050.00 DZD",50,"7,550.00 DZD"
9,11,"1,700.00 DZD",21,"3,200.00 DZD",31,"4,700.00 DZD",41,"6,200.00 DZD",51,"7,700.00 DZD"
10,12,"1,850.00 DZD",22,"3,350.00 DZD",32,"4,850.00 DZD",42,"6,350.00 DZD",52,"7,850.00 DZD"

In [ ]:
writer